body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
}

.pic {
	width: 100%;
	min-height: 160px;
	background: url('../images/bg1.jpg') no-repeat center center;
}

#form {
	width: 20%;
	margin-top: 3%;
	height: 22em;
	opacity: 0.8;
	background-color: #B8B8B8;
	border-radius: 20px;
	text-align: center;
	border: 1px solid #F7F4F4;
	border-color: #F7F4F4;
	-moz-box-shadow: 2px 2px 7px #000000;
	-webkit-box-shadow: 2px 2px 7px #000000;
	box-shadow: 2px 2px 7px #000000;
	position: fixed;
	top: 37%;
	margin-bottom: 20em;
}

#nav {
	text-decoration: none;
	background-color:'';
	opacity: 0.8;
	height: 2em;
	width: 21em;
	float: right;
	margin-top: -5em;
}

#nav li {
	list-style-type: none;
	float: right;
	width: 6.7em
}

#nav li a {
	margin: 0 20px 0px;
	text-decoration: none;
	font-family: Century Gothic;
	color: #959595;
	font-size: 20px;
	font-weight: 550;
	font-style: italic;
	min-width: 50%;
}

#nav li a:hover {
	color: #000000;
	border-bottom: 2px solid #80a64f;
}

#nav a {
	margin: 0px;
	padding: 13px 2% 0;
	font-size: 25px;
	font-family: Century Gothic;
	color: #000000;
	float: left;
	text-decoration: none;
}

#nav1 {
	background-color: #FFFFFF;
	width: 50%;
	margin: auto;
	opacity: 0.8;
	height: 3em
}

#nav1 a {
	margin: 0px;
	padding: 13px 2% 0;
	font-size: 25px;
	font-family: Century Gothic;
	color: #959595;
	opacity: 1;
	text-decoration: none;
}

#nav1 a:hover {
	color: #000000;
	border-bottom: 2px solid #80a64f;
}

#nav2 a {
	font-size: 18px;
	font-family: Century Gothic;
	color: #000000;
	opacity: 1;
	text-decoration: none;
}

#nav2 a:hover {
	color: #6E6E6E;
	border-bottom: 2px solid #80a64f;
}

#imageslider {
	opacity: 2;
	width: 800px;
	height: 380px;
	display: block;
	position: relative;
	margin: auto;
}

#slider {
	width: 100%;
	height: 380px;
	display: block;
	position: absolute;
	overflow: hidden;
}

.info {
	width: 100%;
	height: 80px;
	display: block;
	bottom: 100px;
	opacity: 0.85;
	position: relative;
	background-color: #FFFFFF;
	z-index: 99
}

.info h2 {
	font-family: Century Gothic;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	padding: 15px 0 0 20px;
}

.info p {
	font-family: Century Gothic;
	font-size: 15px;
	font-weight: lighter;
	color: #000000;
	padding: 0 0 0 20px;
	line-height: 1px
}

#play {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.8;
	right: 48px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	cursor: pointer;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	z-index: 999
}

#next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.8;
	right: 0px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	cursor: pointer;
	z-index: 999
}

#pause {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.8;
	right: 96px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	cursor: pointer;
	z-index: 999
}

#prev {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.9;
	right: 144px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	cursor: pointer;
	z-index: 999
}

#pager {
	text-align: center;
	width: 100%;
	display: block;
	cursor: pointer;
	z-index: 999;
	position: absolute
}

#pager a {
	font-size: .0em;
	color: transparent;
	width: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	border: 1px solid #fff;
	border-radius: 20px;
	background: transparent;
	margin: 10px
}

#pager a.activeSlide {
	background: #fff
}

#imageslider1 {
	opacity: 2;
	width: 800px;
	height: 380px;
	display: block;
	position: relative;
	margin: auto
}

#slider1 {
	width: 100%;
	height: 380px;
	display: block;
	position: absolute;
	overflow: hidden;
}

.info1 {
	width: 100%;
	height: 80px;
	display: block;
	bottom: 100px;
	opacity: 0.85;
	position: relative;
	background-color: #FFFFFF;
	z-index: 99
}

.info1 h2 {
	font-family: Century Gothic;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	padding: 15px 0 0 20px;
}

.info1 p {
	font-family: Century Gothic;
	font-size: 15px;
	font-weight: lighter;
	color: #000000;
	padding: 0 0 0 20px;
	line-height: 1px
}

#play1 {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.8;
	right: 48px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	cursor: pointer;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	z-index: 999
}

#next1 {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.8;
	right: 0px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	cursor: pointer;
	z-index: 999
}

#pause1 {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.8;
	right: 96px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	cursor: pointer;
	z-index: 999
}

#prev1 {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	top: 0;
	opacity: 0.9;
	right: 144px;
	position: absolute;
	background-color: #F0E9E9;
	color: #000000;
	cursor: pointer;
	z-index: 999
}

#pager1 {
	text-align: center;
	width: 100%;
	display: block;
	cursor: pointer;
	z-index: 999;
	position: absolute
}

#pager1 a {
	font-size: .0em;
	color: transparent;
	width: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	border: 1px solid #fff;
	border-radius: 20px;
	background: transparent;
	margin: 10px
}

#pager1 a.activeSlide {
	background: #fff
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



#footer {
	width: 70%;
	background-color: #C8C8C8;
	opacity: 0.95;
	border: 1px solid #F7F4F4;
	border-color: #F7F4F4;
	-moz-box-shadow: 2px 2px 7px #000000;
	-webkit-box-shadow: 2px 2px 7px #000000;
	box-shadow: 2px 2px 7px #000000;
	border-radius: 20px;
	height: 20em;
	margin-top: 3em;
	margin-left: 15%;
	overflow: hidden;
}

#dataTable{
font-family:Century Gothic;
border-radius:1em; 
text-align: center;
}

.populateItems {
width:100%;
margin-top:5%;
margin-left:3%;
}
.box {
    border-collapse: collapse;
   	width: 100%;
	border:1px;
	margin-top:-80%;
	margin-left:-5%;
	background-color: #ADFF2F;
	
}

.box th {
	border: 1px solid black;
    height: 40px;
	
}
.box a{
margin-left:15%;
}

.populateItems td {
width:10%;
height:300px;
text-align:center;


}

.populateItems tr{
	display: inline-block;
}
a{
	color:black;
}


